

/************** GLOBAL STYLES **************/
body{
  margin-top: 0;
  background-color: rgba(241, 250, 238, 0.5);
  background-image: url("img/symphony.png");
  background-repeat: repeat;
  background-blend-mode: lighten;
  overflow-x: hidden;
}


.bodyText{
  color:#383e41;
  font-size: .875em;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
}

.placeholder{
  border: solid 1px #000000;
  padding: 10px;
  margin: 20px auto;
  text-align: center;
}


#colorBar{
  height:10px;
  background-color: #e63946;
  margin: 0px;
  padding: 0px;

}


/************** SITE TITLE AND DEFINITION SECTION **************/

#siteTitle{
  font-family: 'Caveat Brush', cursive;
  font-weight: 800;
  line-height: 1.0;
  font-size: 70px;
  
  color: #e63946;

  width: 90%;
  margin-right:auto;
  margin-left:auto;
  margin-bottom: 8px;
  text-align: left;
}

#pronunciation{
  margin: 0 0 0 0;
  width: 90%;
  margin-right:auto;
  margin-left:auto;
 
}

#partOfSpeech{
  font-style: italic;
  margin: 0 0 0px 0;
  width: 90%;
  margin-right:auto;
  margin-left:auto;
  
}


#definitions{
width: 90%;
margin-top: 10px;
margin-right:auto;
margin-left:auto;
margin-bottom: 32px;
}


li{
  line-height: 1.4;
  margin: 0 0 10px 0;
}


/************** VIEW **************/

#view-wrapper{
  text-align: center;
}

#view-frame{
  width:100%;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}


.animated-out{
  animation-duration: 4s;
  animation-name: slideRightOut;
}

.animated-in{
  animation-duration: 2s;
  animation-name: slideLeftIn;
}


@keyframes slideRightOut {
 0% {
    left:0px;
 }

 25% {
    left:3000px;
 }

100% {
    left:3000px;
 }

}


@keyframes slideLeftIn {
 0% {
    right:3000px;
 }

75% {
  right:3000px;
}

 100% {
    right:0px;
 }

}



/************** BUTTONS **************/

#button-container{
  text-align: center;
}

#smiles-button{
	background: #e63946; /* fallback for old browsers */
 /* Analogous Gradient */ 
	background: -webkit-linear-gradient(to right bottom, #e63946, #FD32A7); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right bottom, #e63946, #FD32A7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	/*Shades Gradient with three steps */
	/*background: -webkit-linear-gradient(to right bottom, #F33C4A, #CC333E, #A62933); /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to right bottom, #F33C4A, #CC333E, #A62933); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color:white;
	text-shadow: 0 -1px 1px rgba(102, 25, 31, .7);

	display: block;

	font-family: 'Caveat Brush', cursive;
	font-size: 27px;

	line-height: 75px;
	  
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 32px;
	height: 75px;
	line-height: 75px;

	border-radius: 6px;
	border:none;

	box-shadow:0 2px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 5px 0 #B32C36, 0 5px 2px rgba(0, 0, 0, .5);

	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#smiles-button:hover{
	cursor: pointer;
}


#smiles-button:active {
/*    box-shadow:0 2px 10px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF; */

    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
 

	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
	top:5px;

}

#smiles-button:focus {outline:0;}





#footer-placeholder{
	background-color: blue;
}


/* ANIMATION TRANSITONS */






/************** MEDIA QUERIES **************/

@media only screen and (min-width: 525px)  {
#view-frame{
  width:85%;
  z-index: 1;
  margin-left:auto;
  margin-right:auto;
}

}


@media only screen and (min-width: 700px)  {
#view-frame{
  width:75%;
  z-index: 1;
  margin-left:auto;
  margin-right:auto;
}

}

@media only screen and (min-width: 1100px)  {
#view-frame{
  width:65%;
  z-index: 1;
  margin-left:auto;
  margin-right:auto;
}

}
